body {
    margin: 0;
    padding: 0;
    --color-primary: rgb(16, 228, 196);
    --color-primary-dark: rgb(4, 106, 91);
    --color-error: rgb(226, 21, 21);
    --color-success: rgb(54, 176, 54);
    --color-secondary: rgb(4, 56, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--color-secondary);
    background-size: cover;
}

.container {
    margin: 2rem;
    padding: 1rem;
    width: 400px;
    max-width: 400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10%;
}

.container,
.loginform-button,
.form-input {
    font: 500 1rem 'Quicksand', sans-serif;
}

.errorMessage {
    color: var(--color-error);
}

.successMessage {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-success);
}

.usernameMsgr {
    color: var(--color-error);
}

.passwordMsg {
    color: var(--color-error);
}

#form-title {
    text-align: center;
    margin-bottom: 1rem;
}

.form-input {
    width: 90%;
    height: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background-color: #eeeeee;
    outline: none;
    border-radius: 4px;
    border-color: #eeeeee;
}

.form-input:focus {
    background-color: #ffffff;
    border-color: var(--color-primary);
}

.formbutton {
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 1rem;
    width: 150px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.formbutton:hover {
    background-color: var(--color-primary-dark);
}

.formbutton:active {
    transform: scale(0.98);
}


.form-link {
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer;
}

.form-link:hover {
    text-decoration: underline;
}

.form-hidden {
    display: none;
}
.formCollect{
    display: flex;
    
}
.formSelectFields{
    width:50%;
    margin-bottom: 1rem;
}
select{
    width:90%;
    padding: 10px; 
}
.formpincode{
    width:50%;
}
.formpincode input{
    padding:10px;
}
#usernameMsg{
    color: var(--color-error);
}
#lastnameMsgr{
    color: var(--color-error);  
}
#SignUpWelcomeMsg{
    color: var(--color-success);
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}